# Database connection string
DATABASE_URL="file:./dev.db"

# NextAuth configuration
# Generate a secure key using: openssl rand -base64 32
NEXTAUTH_SECRET="your_nextauth_secret_here"

# NextAuth base URL (http://localhost:3000 for local development or your custom Vercel domain in production)
NEXTAUTH_URL="http://localhost:3000"
